.faq_update{
      display: inline-block;
      vertical-align: bottom;
      position: absolute;
    bottom: 0;
    }
    .block_faq{
        float:left;width:32%;border:1px solid #ddd!important;margin:3px;height: 320px;padding: 12px;
        position: relative;
    }
    .img-circle{
      margin: 0 auto;
    }
    .img_block {
    text-align: center;
  }
  .faq_search {
    width: 27%;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
  }
  input#txt_search{
   border-bottom: 2px solid #dcddde;
    border-left: medium none transparent;
    border-radius: 1px;
    border-top: medium none transparent;
    height: 50px;
    line-height: 40px;
    padding-left: 50px;
    width: 450px;
  }
  .faq_breadcum{
    width: 27%;
    margin: 0 auto;
    padding: 0 0 10px;
    }
  .faq_breadcum a {
    color: #000;
    }
    .faq_main
    {
      float: left; 
      padding: 30px 30px 5px !important; 
      width: 90%;
      background:#fff;
      margin-left:54px;
      box-shadow: 0 0.4rem 1rem rgba(0,0,0,.1);
    }
    .img_block > p {
    line-height: 22px;
    /* font-family: sans-serif; */
    font-size: 16px !important;
}
.faq_update > p {
    font-family: sans-serif;
    font-size: 11px !important;
}
.faq_search { width:47%}
.faq_breadcum {width:47%; padding:0 0 30px;font-family: 'Open Sans'; padding: 0 0 30px 39px;
    width: 57%;}
  .faq_breadcum a {color:#3a3939;font-family: 'Open Sans';}
  /***********added by Raindrops[07-06-17]***********/

.all_faq {
    padding: 0 15px 0 0;
}
.child_faq{
  padding: 0 0 0 15px;
}
.child_faq1{
  padding: 0 15px;
}
.faq_search .fa.fa-search {
    left: 15px;
    position: absolute;
    top: 19%;
}
.faq_search .fa.fa-search {
    color: #9fa3a6;
}
.img_block.detail_faq {
    padding-bottom: 20px;
}
.block_faq.block_new {
    /*height: auto;*/
    width: 48%;
    min-height: 240px;
    height: 240px;
}
.collapse.in ul.nav li {
padding: 0;
}
.icon_search .fa.fa-search{
  top: 35%;
}
.block_faq .img_block i {
    font-size: 35px;
}
/***********added by Raindrops[21-06-17]***********/
#faq_detail #default {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
}
.img_block.detail_faq h4 {
    margin-top: 5px;
}
.img_block.detail_faq > p {
    margin: 2px 0 0;
}