
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxhgVThLs8Y7ETJzDCYFCSLE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxpiMaisvaUVUsYyVzOmndek.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxrBAWGjcah5Ky0jbCgIwDB8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxv14vlcfyPYlAcQy2UfDRm4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxqfJul7RR1X4poJgi27uS4w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxiU8QAtQT9M0M1_mbVWrUPc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxkNaUOL0oYRolx8sebiIY9k.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxooGEx1DzoxsbCRd2IM2afI.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnPzCMEhbIaaYiFY6KPniws.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmqi69zMYkLa7XwlUIemKB4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    background: #f4f4f4;
    padding: 0px;
    margin: 0px;
      font-family: 'Open Sans';

}
.top_first {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 100%;
}
.error {
    color: #f20000!important;
}
img.top_logo {
    width: 10%;
}

section.top_head {
    background: #eeeeee none repeat scroll 0 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
form.welcomepage_form {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: #fff;
}
.first_section {
    clear: left;
    float: right;
    margin: 0 auto;
    width: 70%;
}
.second_section {
    clear: left;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}

.third_right > h3 {
    font-size: 23px;
    font-weight: normal;
}
.third_right > p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 34px;
}

.second_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 28%;
    box-sizing: unset;
}
.second_right {
    background: #e7eaf0 none repeat scroll 0 0;
    float: left;
    margin: 0 auto;
    padding: 2% 10px;
    text-align: center;
    width: 62%;
}
.sunshine_img {
    background: #dcdcdc none repeat scroll 0 0;
}
 .second_right_img{
      width: 90%;
      margin: 68px auto 0;
}
.second_right_img > img {
 width: 60%;    max-width: 100%;
}
.person_img{
  background: #D9F0FA none repeat scroll 0 0;
}

.second_right > p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 63px;
}
.third_section {
    clear: both;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.third_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 28%;
    box-sizing: unset;
}

.third_right {
    float: right;
    margin: 0 auto;
    padding: 15px;
    width: 62%;
    background: #e8f9e9 none repeat scroll 0 0;
    text-align: center;
}
.first_left {
    float: left;
    margin: 0;
    width: 50%;
}
.first_left {
    float: left;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    width: 58%;
}


.first_left > h1 {
    font-size: 46px;
    font-weight: normal;
    margin: 23px auto 0;
    text-transform: capitalize;
  color:#333333;
}

.first_left > h3 {
    font-size: 28px;
    font-weight: normal;
    margin: 17px auto;
    /* text-transform: capitalize; */
    color: #7d7a7a;
}
.my_self:hover{
background:#ADD8E6 none repeat scroll 0 0;
}
.my_self {
    background:  #68b3c8 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    margin: 60px auto 0;
    padding: 16px;
    text-transform: capitalize;
    width: 60%;
    cursor: pointer;
    border-radius: 26px;
}
.select_one {
    background: #e97139 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 21px auto 117px;
    padding: 16px;
    text-transform: capitalize;
    width: 60%;
    cursor: pointer;
    border-radius: 26px;
}
.select_one:hover {
background: #f09b74 none repeat scroll 0 0;
}
.bgimg {
    padding: 0 0;
    width: 42%;
    cursor: pointer;
}

.top-head {
    text-align: center;
    background: #f9f9f9;
}


.a_first-section {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}

.a_first-section > span {
    color: #666;
    text-decoration: underline;
}

.second_left label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    /* color: #777; */
    clear: left;
    color: #676767;
    display: block;
    /* font-size: 14px; */
    font-weight: 500;
    margin: 40px 0 10px;
    overflow: auto;
    /* text-transform: capitalize; */
    /* clear: left; */
    /* display: block; */
    /* font-size: 12px; */
    /* font-weight: 600; */
    /* margin: 40px 0 10px; */
    /* overflow: auto; */
    /* text-transform: capitalize; */
    /* color: #333; */
}
.second_left > input {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: block;
    padding: 10px;
    width: 69%;
}
section.top-head-second {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.second_left > input:hover ,.second_left > input:focus {
    border-color: #8d8d8d;
    }
.second_left > input {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 100%;
    font-size: 16px;
}
.second_left > h1 {
    color: #333333;
    font-family: Open Sans;
    font-size: 42px;
    font-weight: inherit;
    margin-top: 50px;
    text-align: left;
    text-transform: capitalize;
}
.second_left > h4 {
  font-weight:300;
  line-height:1.4;
}

.next_btn {
    background: #e97139 none repeat scroll 0 0;
    border: medium none;
    border-radius: 26px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 2%;
    text-transform: capitalize;
    width: 98%;
    cursor: pointer;
}
.second_left > a {
    color: #000;
    display: block;
    margin: 38px 0;
    text-align: center;
     width: 90%;
}

.third_right > img {
    margin-top: 12%;
    width: 52%;
}
.third_left > h1 {
    color: #333333;
    font-size: 42px !important;
    font-weight: normal;
    margin: 40px auto 3px;
    text-align: left;
    text-transform: capitalize;
}
.third_left > p {
    color: #999999;
    margin: 0 auto;
    font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cbcbcb;
   opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cbcbcb;
   opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cbcbcb;
   opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cbcbcb;
   opacity: 1;
}


.input_cardno:hover ,.input_date:hover ,.input_cvv:hover {border-color: #8d8d8d;}

.input_cardno {
    border: 1px solid #a2a2a2;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
    display: block;
    margin: 0 auto;
    padding: 15px 2%;
    width: 100%;
}

.input_bottom {
    display: block;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
}
.third_left > img {
    margin-left: -31px;
    width: 45%;
}

.input_date {
    border: 1px solid #a2a2a2;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0;
    padding: 15px 2.4%;
    width: 45%;
    box-sizing: unset;
}
.input_cvv {
    border: 1px solid #a2a2a2;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0;
    padding: 15px 2%;
    width: 45% !important;
    margin-left: -4px;
    float: right;
    box-sizing: unset;
}

.second_right > h3 {
    font-size: 23px;
    font-weight: normal;
    color: #3c3c3c!important;
}
.pay_btn, .paypal_btn {
    background: #68b3c8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 26px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 14px auto;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}
 .btn-credit {
    background: #e97139 none repeat scroll 0 0;
    border: medium none;
    border-radius: 26px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 14px auto;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

.third_left > a {
    color: #99b3cd;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    font-weight: normal;
}

.third_left span {
    color: #eea52e;
    font-weight: bold;
}


.over_hr {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.or {
    background: #fff none repeat scroll 0 0;
    padding: 0 10px;
    position: relative;
    z-index: 1;
      color: #cbd2df!important;
}

.third_left hr {
    color: #d6d6d6;
    margin: 0 auto;
    position: absolute;
    top: 11px;
    width: 100%;
}


.pay_btn:hover, .paypal_btn:hover {
    background: #ADD8E6 none repeat scroll 0 0;
}

.btn-credit:hover{
    background: #f09b74  none repeat scroll 0 0;
}
@media (min-width: 959px) and (max-width: 1200px) {
.first_section{width: 76%;}
.input_cvv {
    width: 45% !important;
}

.first_left {
    width: 66%;}

.second_left {
   
    width: 32%;
}

.second_right {
width: 58%;
padding: 84px;
}

.sunshine_img {
width: 58%;
}
.myself_left {
   
    width: 32%!important;
}

.second_left > h1 {
    font-size: 37px;
    margin: 10px auto;
}

.second_left label {
    font-size: 16px;
    margin: 22px 0 10px;
}

.second_left > input {
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 94%;
}

.second_left label {
    margin: 22px 0 10px;
}

.second_left > a {
    margin: 20px 0;
    width: 100%;
}

.third_left {
   
    width: 32%;
}

.third_left > h1 {
    font-size: 20px;
    margin: 30px auto 20px;
}

.third_left > p {
    font-size: 13px;
}
.input_bottom{margin: 0 auto;}
.input_date{width: 44%;}
.input_cvv{width: 44%;}
.third_right {
    width: 58%;
}

.third_right > img {
    margin-top: 26%;
    width: 31%;
}
.select_one_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 33% !important;
}
.bgimg {
    cursor: pointer;
    padding: 0;
    width: 34%;
}
}

@media (min-width: 768px) and (max-width: 959px) {
  .input_cvv {
    width: 45% !important;
}
  img.top_logo {
    width: 21%;
}
.bgimg {
    cursor: pointer;
    padding: 0;
    width: 33%;
}
.first_section {
    width: 100%;
}

.first_left {
    width: 66%;
}


.second_left {
    width: 40%;
}

.second_left > h1 {
    font-size: 27px;
    margin-top: 30px;
}

.second_left label {

    font-size: 16px;
    margin: 17px 0 10px;
}
.second_left > input {
    margin: 0 auto 27px;
}

.second_left > a {
    margin: 16px 0 0;
    width: 100%;
}

.second_right {
    padding: 89px 0 83px;
    width: 50%;
}
.third_left{width: 40%;}
.third_right{width: 50%;}
.third_right > img {
    margin-top: 47%;
    width: 60%;
}
.myself_left {
  
    padding: 0 5%;
    width: 39%!important;
}

.myself_left > h1 {
    font-size: 28px!important;
    margin-top: 30px!important;
}
.myself_left label { margin: 0 0 10px!important;}

.myself_left > input ,.myself_left > select {
    padding: 10px 2%!important;
}
.select_one_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 40% !important;
}
}

@media (min-width: 720px) and (max-width: 768px) {
  .input_cvv {
    width: 44% !important;
}

.first_section {
    clear: left;
    float: right;
    margin: 0 auto;
    width: 100%;
}

.select_one {
margin: 21px auto 41px;}

.second_left {
    width: 88%;
}

.second_right {
 
width: 100%;
margin-top: 20px;
}

.third_left {
  
    width: 87%;
}

.third_right {
width: 100%;}
/*.third_right {
    
    width: 100%;
}*/
.myself_left{width: 87%!important}
    .select_one_left{
   
    width: 87%!important;
}

}
@media (min-width: 480px) and (max-width: 720px) {
.third_left > img {
    margin-left: -16px;
    width: 45%;
}

.third_left > h1 {
    font-size: 23px;

}

.myself_left > input {
    padding: 7px 2% !important; 
}
.myself_left label {
    margin: 27px 0 10px !important;
}
.myself_left > h1 {
    font-size: 27px !important;
     margin-top: 30px !important;
}
.myself_left > select {
    padding: 7px 2% !important;
}
.second_left > input {
    padding: 7px 2% !important;
}
.input_cardno {
    padding: 7px 2% !important;
   
}
.input_date {
    padding: 7px 2.4% !important;
}
.input_cvv{padding: 7px 2.4% !important; width: 37%;}
.select_one_left label {
    font-size: 13px !important;
}
.select_one_left > h1 {
    font-size: 27px !important;
    margin-top: 30px !important;
}
.select_one_left > input {
    padding: 7px 2% !important;
}
.select_one_left > select {
    padding: 7px 2% !important;
}
.select_one_left label {
    margin: 30px 0 10px !important;
}
img.top_logo {
    width: 24%;
}
.myself_left label {
    font-size: 13px !important;
}
.first_section {
    clear: left;
    float: right;
    margin: 0 auto;
    width: 100%;
}
.first_left{  padding: 45px 0; width: 74%;}

.first_left > h1 {
    font-size: 27px;
   margin: 23px auto 0;}

   .first_left > h3 {
    font-size: 17px;
 margin: 17px auto;}
 .my_self , .select_one {padding: 7px;    margin: 10px auto 0;}
 .second_left > h1 {margin-top: 0;}
.bgimg {
     padding: 24px 0;
    width: 26%;
}
.select_one {
margin: 21px auto 41px;}


.second_left {
    width: 88%;
    margin: 20px auto;
}

.myself_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
}


.second_right {
 
width: 100%;
margin-top: 20px;}

.third_left {
  
    width: 87%;
}

.third_right {
   width: 100%;
}
/*.third_right {
    
    width: 100%;
}*/
.myself_left{width: 87%!important}
    .select_one_left{
   
    width: 87%!important;
}
.third_left > p {
    font-size: 13px;  
}
.third_left > img {
    width: 35%;
}
pay_btn, .paypal_btn {
    margin: 7px auto;
}
.input-error {
    border-color: #ea4031 !important;
}
}

@media (min-width: 300px) and (max-width: 480px) {
.third_left > img {
    margin-left: -16px;
    width: 45%;
}

.third_left > h1 {
    font-size: 23px;

}
.myself_left > input {
    padding: 7px 2% !important; 
}
.myself_left > select {
    padding: 7px 2% !important;
}
.myself_left > h1 {
    font-size: 27px !important;
    margin-top: 30px !important;
}
.myself_left label {
    margin: 27px 0 10px !important;
}
.second_left > input {
    padding: 7px 2% !important;
}
.input_cardno {
    padding: 7px 2% !important;
   
}
.input_date {
    padding: 7px 2.4% !important;
}
.myself_left label {
    font-size: 12px !important;
}
.input_cvv{padding: 7px 2.4% !important; width: 37%;}
.select_one_left > h1 {
    font-size: 27px !important;
    margin-top: 30px !important;
}
.select_one_left label {
    font-size: 13px !important;
}
.select_one_left > input {
    padding: 7px 2% !important;
}
.select_one_left > select {
    padding: 7px 2% !important;
}
.select_one_left label {
    margin: 30px 0 10px !important;
}
img.top_logo {
    width: 35%;
}
.third_left > h1 {

    margin: 24px auto 3px;
}
.first_section {
    clear: left;
    float: right;
    margin: 0 auto;
    width: 100%;
}

.first_left {
    padding: 68px 0;
    width: 100%;
}

.first_left > h1 {
    font-size: 31px;
    margin: 23px auto 0;

}

.first_left > h3 {
    font-size: 22px;
    margin: 17px auto;

}

.my_self {
 
    font-size: 18px;
    margin: 20px auto 0;
    width: 90%;
}
.select_one {
margin: 21px auto 41px;
width: 90%}

.second_left {
    width: 88%;
    margin: 0 0 19px;
}

.second_right {
 
width: 100%;
margin-top: 25px;}

.third_left {
  
    width: 87%;
}

.third_right {
width: 100%;}
/*.third_right {
    
    width: 100%;
}*/

.bgimg {
    display: none;
}

.first_left {
     padding: 24px 0;
    width: 100%;
}

.second_left > h1 {
    font-size: 32px;
    margin-top: 30px;
}

.second_left label {
    font-size: 13px;
    margin: 25px 0 10px;
}

.second_left > a {
    width: 100%;
}
.second_right > img {
    margin: 59px auto 0;}
    .input_cvv{width: 45%;}
    .myself_left{width: 87%!important;}
    .select_one_left{
   
    width: 87%!important;
}
.myself_left {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: auto;
}
.third_left > p {
    font-size: 13px; 
}
.third_left > img {
    width: 35%;
}
pay_btn, .paypal_btn {
    margin: 7px auto;
}
.input-error {
    border-color: #ea4031 !important;
}
}

@media (min-width: 260px) and (max-width: 300px) {
.third_left > img {
    margin-left: -16px;
    width: 45%;
}
.myself_left > h1 {
    font-size: 27px !important;
     margin-top: 30px !important;
}
.myself_left label {
    margin: 27px 0 10px !important;
}
.myself_left > input {
    padding: 7px 2% !important; 
}
.myself_left > select {
    padding: 7px 2% !important;
}
.second_left > input {
    padding: 7px 2% !important;
}
.input_cardno {
    padding: 7px 2% !important;
   
}
.input_date {
    padding: 7px 2.4% !important;
    width: 44% !important;
}
.myself_left label {
    font-size: 13px !important;
}
.first_section {
    margin: 0 auto;
    width: 100%;
}
.select_one_left label {
    font-size: 13px !important;
}
.select_one_left > h1 {
    font-size: 27px !important;
    margin-top: 30px !important;
}
.select_one_left > input {
    padding: 7px 2% !important;
}
.select_one_left > select {
    padding: 7px 2% !important;
}
.select_one_left label {
    margin: 30px 0 10px !important;
}

img.top_logo {
    width: 50%;
}
    .select_one_left{
   
    width: 87%!important;
}
  .myself_left{width: 87%!important;}
.first_left {
    padding: 68px 0;
    width: 100%;
}

.first_left > h1 {
    font-size: 31px;
    margin: 23px auto 0;

}

.first_left > h3 {
    font-size: 22px;
    margin: 17px auto;

}


.my_self {
 
    font-size: 18px;
    margin: 20px auto 0;
    width: 90%;
}
.select_one {
margin: 21px auto 41px; width: 90%;}

.second_left {
    width: 88%;
}

.second_right {
 
width: 100%;}

.third_left {
  
    width: 87%;
}

.third_right {
width: 100%;}
/*.third_right {
    
    width: 100%;
}*/

.bgimg {
    display: none;
}

.second_left > h1 {
    font-size: 32px;
    margin-top: 0;
}

.second_left label {
    font-size: 13px;
    margin: 25px 0 10px;
}
.input_cvv{padding: 7px 2.4% !important; width: 37%;}
.second_left > a {
    width: 100%;
}
.second_right > img {
    margin: 59px auto 0;}
}
.third_left > h1 {
    font-size: 23px;

}
.third_left > h4 {
    font-weight:300;
    line-height:1.3;

}
.third_left > p {
    font-size: 14px;
   
}
.third_left > img {
    width: 35%;
}
.input-error {
    border-color: #ea4031 !important;
}
pay_btn, .paypal_btn {
    margin: 7px auto;
}
@media (max-width: 2634px) and (min-width: 1976px){
  .second_right {
    padding: 3% 10px 4.5%;
  }
}
@media (max-width: 1976px) and (min-width: 1647px){
  .second_right {
    padding: 3% 10px 4.5%;
  }
}
@media (max-width: 1024px) and (min-width: 1023px){
  .second_right {
    padding: 8% 10px;
  }
}

/*-------------------------------End media -------------------------------*/


.form-txt:focus{
    border-color:#8d8d8d;
    box-shadow:0 02px 3px rgba(102,175,233,0.35);
}
.input-error {
    border-color: #ea4031 !important;
}

.myself_section{
    clear: left;
    margin: 0 auto;
    overflow: auto;
    width: auto !important;
}
.myself_left{
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 28%;
    box-sizing: unset;
}
.myself_left label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    /* color: #777; */
    clear: left;
    color: #676767;
    display: block;
    /* font-size: 14px; */
    font-weight: 500;
    margin: 40px 0 10px;
    overflow: auto;
    /* text-transform: capitalize; */
}
/*.myself_left > h1 {
    color: #737374;
    font-size: 36px;
    font-weight: normal;
    margin-top: 50px;
    text-align: left;
    text-transform: capitalize;
  font-family: "Muli","Helvetica",Arial,sans-serif;
}*/
.myself_left > h1 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 42px;
  margin-top: 50px;
  /* font-weight: 400; */
  text-align: left;
  /* text-transform: capitalize; */
}
.myself_left > h4 {
  font-weight:300;
}
.second_left > p {
  color: #333;
  font-size: 14px;
  font-family: "Open Sans";
}
.myself_left > input {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 100%;
    font-size: 16px;
}
.myself_left > select {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 100%;
}
.select_one_left{
   width: 40px;
}
.select_one_section{
    clear: left;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
.select_one_left{
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 28%;
    box-sizing: unset;
}
.select_one_left label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    /* color: #777; */
    clear: left;
    color: #676767;
    display: block;
    /* font-size: 14px; */
    font-weight: 500;
    margin: 40px 0 10px;
    overflow: auto;
    /* text-transform: capitalize;;/* clear: left; */
    /* color: #333; */
    /* display: block; */
    /* font-size: 16px; */
    /* font-weight: 600; */
    /* margin: 40px 0 10px; */
    /* overflow: auto; */
    /* text-transform: capitalize; */
}
.select_one_left > h1 {
    color: #333333;
    font-size: 42px;
    font-weight: 300;
    margin-top: 50px;
    text-align: left;
    text-transform: capitalize;
}
.select_one_left > h4 {
    font-weight:300;
    font-height:1.4;
}
.select_one_left > input {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 100%;
    font-size: 16px;
}
.select_one_left > select {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto 27px;
    padding: 17px 2%;
    width: 100%;
}
.person_right_img{
  width: 75%;
}

.second_section .second_right_img {
    margin: 0 auto;
    width: 90%;
}
.second_section .second_right > p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 0;
}