.review_header{
 color: rgb(37, 37, 37);
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    font-weight: 800;
     width: auto;
 margin: 22px auto 0;
padding: 0 2%;
}
body{ font-family: 'Open Sans'; background: #f4f4f4;}
.wrapper{
 width: 960px;
 margin: 0 auto;
 padding: 0px;
 clear: both;
} 
.left_contain{width: 52.2%;float: left;margin: 0 auto; padding:0px; background: #fff none repeat scroll 0 0;  height: 558px;}
.review_img {
    margin: 0 auto;
    width: 37%;
}
.form{width: 50%; float: right;margin: 0 auto; padding:0px; overflow: auto;  height: 558px;background-color: #eae6e6;}
.widget-container.widget-form {
    margin: 80px auto;
    width: 71%;
}

.review_main_price {
    color: #a0a3a4;
    font-size: 32px;
    line-height: 45px;
    font-weight: bold;
    text-decoration: line-through;
     margin: 0;
      text-align: right;width: 47%;margin: 8px 0;
      float: left;
}

.site_image {
    margin: 24px auto 0;
    width: 83%;
}
.review_desc {
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
   margin: 16px auto 26px;
    padding: 0;
    text-align: center;
    width: 86%;
    color: #323131;
}

.top_headersection {
    background: #f2f2f2 none repeat scroll 0 0;
    margin: auto 0;
    padding: 26px;
}

.testimonial {
    background: #f4f4f4 none repeat scroll 0 0;
}
.review_sub_price {
    color: #f78a59;
    float: right;
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
    margin: 0;
    text-align: left;margin: 8px 0;
    width: 50%;
}

body {
   
   padding: 0 0 15px;
    margin: 0
}
button.btn.corners.button_submit.submit-button{
    border-radius: 38px;
    box-sizing: content-box;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    height: 52px;
    line-height: 21px;
margin: 32px auto;    
width: 100%;
    background-color: #f48857;
    color: #ffffff;
}
.review > p {
    color: rgb(35, 35, 35);
    font-size: 19px;
    line-height: 27px;
    text-align: center;
}
.discount {
    color: #a0a3a4;
    font-size: 22.9268px !important;
    font-weight: 800;
    line-height: 32px !important;
    margin: 0;
    text-align: center;
    clear: left;
}
.left_icon {
    padding: 0;
}
.last_p{
 color: rgb(0, 0, 0)!important;
    font-size: 15px!important;
    line-height: 21px!important;
 text-align: center;
 margin: 32px 0;}

.right_contain {
    background: #eae6e6 none repeat scroll 0 0;
    overflow: auto;
    height: 558px;
}
.your_detail {
        margin: 56px 0 0 57px!important;
    overflow: auto;
    width: 83%;}
    .payment_main {
    margin: 0 0 0 57px;
    width: 83%;
}
.your_detail input {
  border: 1px solid #c6c6c6;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px 0;
    padding: 11px;
   width: 88%;
}
.payment_main .form_card_number {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    font-size: 15px;
}
.payment_btn {
    clear: left;
    margin: 0 auto;
    width: 89%;
}
.form_card_number {
     padding: 10px 10px 10px 27px;
    width: 84%;
}


.form_tripe_expirydate, .form_stripe_cvc {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    margin: 0;
    padding: 10px 10px 10px 27px;
    width: 77%;
}
.date, .cvc {
    display: inline-block;
    margin: 0;
    width: 49%;
}

.middle_contain_image {
    display: inline-block;
    float: none;
    width: 23%;
      vertical-align: middle;
}

.payment_sub {
  margin-bottom: 30px;
    overflow: auto;
    width: 100%;
}
.middle_contain_person {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 56%;
    font-style: italic;
}
.page_title{
    color: rgb(37, 37, 37);
    font-size: 28px;
    line-height: 39px;
    text-align: center;
}

button.btn.submit_button {
    background-color: #f48857;
    border: medium none;
    border-radius: 38px;
    box-sizing: content-box;
    color: #ffffff;
    font-family: Open Sans;
    font-size: 18px;
    height: 52px;
    line-height: 21px;
    margin: 0 -24px;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.75);
}
.credit_card::before{
    content: "\f09d";
   font-family: 'FontAwesome';
    padding: 0;
    position: absolute;
    padding: 12px 7px;
   color: #f48857;
   font-size: 15px;
}
.credit_card1{
    width: 96%;}
.page_title {
    color: rgb(37, 37, 37);
    font-size: 28px;
   font-weight: 800;
    line-height: 39px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
.page_contain_title {
    margin:50px 0 43px;
}
.user_detail {
    font-size: 18px;
    font-weight: 800;
    margin: 18px 0 12px;
}
.Payment_detail {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: 21px 0 22px;
    vertical-align: middle;
    width: 43%;
}
.card_img {
    display: inline-block;
    vertical-align: middle;
    width: 42%;
}


.card_img > img {
    width: 85%;
}
.date::before{    content: "\f133"; font-family: 'FontAwesome';padding: 0;
    position: absolute;   font-size: 15px;

    padding: 12px 7px; color: #f48857;}
.cvc::before{    content: "\f023";  font-family: "FontAwesome";padding: 0;
    position: absolute;
    padding: 12px 10px; color: #f48857;font-size: 15px;}



.middle_contain_desc {
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 20px auto 6px;
    text-align: center;
    width: 100%;
}
.middle_contain {
    margin: 0 auto 17px;
    width: 100%;
}
.page_left {
    display: inline-block;
    margin: 0 56px;
    vertical-align: top;
    width: 38%;
}
.page_left > p{
    color: rgb(64, 64, 64);
    font-size: 15px;
    line-height: 21px;
    text-align: left;
     margin: 0 0 25px;
}
.left_que{
    font-size: 19px !important;
      font-weight: 800;
      color: rgb(64, 64, 64);
}

.q_ans {
    background: #fbfbfb none repeat scroll 0 0;
    padding: 32px 0;
}


.q_ans_header {
    margin: 0 auto;
    padding: 18px 0 33px;
    width: 49%;
}

.footer_icon {
    margin: 16px auto 0;
    overflow: auto;
    width: 54%;
}
ul.link_icon {
    padding: 0;
}

.link_icon li {
    display: inline-block;
    list-style-type: none;
    margin: 2px 0;
    padding: 10px 15px;
}


.social_image img {
    width: 100%;
}
.url-link {
     color: rgb(54, 53, 53);
    padding: 10px 8px;
    text-decoration: none;
}
.footer_contain > p {
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    color: rgb(54, 53, 53);
    font-size: 16px;
    line-height: 22px;
}
.social_image > li {
    float: left;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: center;
    width: 25.33%;
}

.page_contain {
    margin: 50px 0;
}
#payment-form label {
    color: #f20000;
}


.social_image {
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 24%;
}

.social_icon {
    margin: 0 0 15px;
}
.footer {
    background: #ffffff none repeat scroll 0 0;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.copyrights {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    color: rgb(54, 53, 53);
    font-size: 16px;
    line-height: 22px;
}
.copyrights img {
    width: 15% !important;
}



.left_icon > li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    vertical-align: bottom;
   
}

.left_icon img {
display: inline-block;
    vertical-align: bottom;
    
}
.left_contain_icon {
    margin: 20px 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
   opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
   opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
   opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
   opacity: 1;
}



.btn.submit_button:hover {
    background: #0066cc none repeat scroll 0 0;
    cursor: pointer;
}
@media (min-width: 959px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 959px) {
.wrapper{width: 97%;}
.your_detail{width: 89%;}

.your_detail input {
    padding: 10px;
    width: 86%;
}
.form_card_number {
    padding: 10px 10px 10px 27px;
    width: 86%;
}
.left_icon img {
    width: 100%;
}
.payment_sub{ width: 99%!important;}
.form_tripe_expirydate, .form_stripe_cvc {
    margin: 0;
    padding: 10px 10px 10px 27px;
    width: 76%;
}
.left_icon > li{width: 14%; margin-left: 14px;}

button.btn.submit_button{width: 100%;}

.q_ans_header {
    margin: 0 auto;
    width: 55%;
    padding: 21px 0;
}

.footer_icon {
    margin: 0 auto;
    width: 70%;
}
.social_image{width: 38%;}
.left_contain ,.right_contain{height: 635px;}
.credit_card1 {
    width: 98%;
}
.payment_main {
    margin: 0 0 0 28px;
}
.your_detail {
    margin: 56px 0 0 18px!important;
}
.Payment_detail{width: 100%;}
}

@media (min-width: 720px) and (max-width: 768px) {
.wrapper{width: 97%;}
.left_contain ,.right_contain{width: 100%; margin: 0 auto; }
.left_contain{height: 603px;}
.q_ans_header {
    margin: 0 auto;
    width: 69%;
}
.page_left{width: 40%;}

.footer_icon {
    margin: 0 auto;
    width: 75%;
}
.social_image {
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 43%;
}
.left_icon > li{width: 14%; margin-left: 14px;}
.credit_card1 {
    width: 96%;
}
.left_icon img {
    width: 100%;
}
}
@media (min-width: 480px) and (max-width: 720px) {
.wrapper{width: 97%;}
.left_contain ,.right_contain{width: 100%; margin: 0 auto;}
.q_ans_header {
    margin: 0 auto;
    width: 69%;
}
.page_left {
    margin: 15px 0;
    width: 100%;
}

.footer_icon {
    margin: 0 auto;
    width: 75%;
}
.social_image {
    margin: 0 auto;
    overflow: auto;}
.link_icon li {
    display: inline-block;
    list-style-type: none;
    margin: 2px 0;
    padding: 10px 6px;
}

.footer_icon {
    margin: 0 auto;
    width: 100%;
}
.page_title { font-size: 23px;  line-height: 30px;
    width: 94%;
}
.social_icon {
    margin: 0 auto;
    width: 62%;
}

.social_image {
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    text-align: center;
    width: 71%;
}

.left_contain{height: auto;}

.q_ans_header {
    margin: 0 auto;
    padding: 31px 0;
    width: 86%;
}
.left_icon > li{width: 14%;}

.form_tripe_expirydate, .form_stripe_cvc {
    margin: 0;
    padding: 10px 10px 10px 27px;
    width: 85%;
}
.credit_card1 {
    width: 92% !important;
}
.top_headersection {
 
    padding: 0;
}
.q_ans {
    padding: 14px;
}
.social_image img {
    width: 83%;
}

.social_image > li {
    width: 32.33%;
}

ul.link_icon {
    margin: 11px auto;
    padding: 0;
    width: 87%;
}
.url-link{font-size: 14px;}
}

@media (min-width: 300px) and (max-width: 480px) {
.wrapper{width: 97%;}
.left_contain ,.right_contain{width: 100%; margin: 0 auto;}
.right_contain { height: auto;
    padding: 0 0 21px;
}
.q_ans_header {
    margin: 0 auto;
    width: 69%;
}
.page_left {
    margin: 15px 0;
    width: 100%;
}
.social_image img {
    width: 83%;
}
.footer_icon {
    margin: 0 auto;
    width: 75%;
}
.Payment_detail{width: 100%;}

.social_image {
    margin: 0 auto;
    overflow: auto;}
.link_icon li {
    display: inline-block;
    list-style-type: none;
    margin: 2px 0;
    padding: 10px 6px;
}
.social_image img {
    width: 83%;
}
.credit_card1 {
    width: 92%;
}
.footer_icon {
    margin: 0 auto;
    width: 100%;
}

.social_icon {
    margin: 0 auto;
    width: 58%;
}
.social_image {
    margin: 0 auto !important;
    overflow: auto;
    padding: 0;

    width: 50%!important;    
}
.left_icon img {
    width: 100%;
}
.left_contain{height: auto;}

.q_ans_header {
    margin: 0 auto;
    padding: 31px 0;
    width: 86%;
}
.q_ans {
    padding: 14px;
}
.page_title {
    color: rgb(37, 37, 37);
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.left_icon > li {
    display: inline-block;
    list-style-type: none;
    margin-left: 21px;
    width: 13%;
}
.social_icon {
    margin: 0 auto;
    width: 100%;
}

.footer_contain > p{width: 98%;}
.left_contain {
    height: auto;
}
.card_img{margin: 4px 0;}
.form_card_number {
    padding: 10px 10px 10px 27px;
    width: 78%;
}

.form_tripe_expirydate, .form_stripe_cvc {
    margin: 0;
    padding: 10px 10px 10px 27px;
    width: 70%;
}
.url-link{ font-size: 11px;
    padding: 10px 4px;}
button.btn.submit_button{width: 100%;}
.left_icon > li{width: 14%;margin-left: 12px;}
.top_headersection {
 
    padding: 0;
}
.your_detail { margin: 56px 0 0 30px!important;}

.payment_main {
    margin: 0 0 0 30px;
    width: 83%;
}
.middle_contain_image {
    display: inline-block;
    float: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.middle_contain_image > img {
    width: 29%!important;
}
.link_icon {
    margin: 0 auto;
    width: 87%;
}
.middle_contain_person { margin: 5px 0;text-align: center;
    width: 100%;
}
.review_header { font-size: 28px;line-height: 37px;}
}

@media (min-width: 260px) and (max-width: 300px) {

}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxhgVThLs8Y7ETJzDCYFCSLE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxpiMaisvaUVUsYyVzOmndek.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxrBAWGjcah5Ky0jbCgIwDB8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxv14vlcfyPYlAcQy2UfDRm4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxqfJul7RR1X4poJgi27uS4w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxiU8QAtQT9M0M1_mbVWrUPc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxkNaUOL0oYRolx8sebiIY9k.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxooGEx1DzoxsbCRd2IM2afI.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnPzCMEhbIaaYiFY6KPniws.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmqi69zMYkLa7XwlUIemKB4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
