@media (min-width: 550px) and (max-width: 780px) {
.block_faq {
 width: 48%!important;
 }
 .block_faq.block_new {
    height: 340px!important;
    min-height: 340px!important;
    
}
 }

@media (min-width: 260px) and (max-width: 550px) {
 .block_faq {
 width: 100%!important;
 }
 input#txt_search {
 width: auto!important;
}
}
@media (min-width: 720px) and (max-width:768px) {
.faq_breadcum {
    padding: 0 0 30px 56px !important;
    width: 100% !important;
}
.faq_search {
    margin-left: 56px !important;
    width: auto !important;
}
.block_faq.block_new {
    height: 260px!important;
    min-height: 260px!important;
}
}
@media (min-width: 480px) and (max-width: 720px) {
.faq_main {
    margin-left: 20px!important;
}
.faq_breadcum {
    padding: 0 0 30px 23px !important;
    width: 100% !important;
}
.faq_search {
    margin-left: 22px !important;
    width: auto !important;
}
}

@media (min-width: 300px) and (max-width: 480px) {
.faq_main {
    margin-left: 15px!important;
}
.faq_search {
    width: 93%!important;
}
.faq_breadcum {
    padding: 0 0 30px 18px !important;
    width: 100% !important;
}
.col-md-10.col-md-offset-1 {
    padding: 0!important;
}
.all_faq {
    padding: 0 2px 0 0 !important;
}
.child_faq1 {
    padding: 0 2px !important;
}
.child_faq {
    padding: 0 0 0 2px !important;
}
#faq_detail #default {
margin-left: 0!important;
    padding: 30px 15px 5px !important;
    width: 100%!important;
}
}

@media (min-width: 260px) and (max-width: 300px) {
.faq_main {
    margin-left: 10px!important;
}
.faq_search {
    width: 93%!important;
}
.faq_breadcum {
    padding: 0 0 30px 18px !important;
    width: 100% !important;
}
.col-md-10.col-md-offset-1 {
    padding: 0!important;
}
.all_faq {
    padding: 0 2px 0 0 !important;
}
.child_faq1 {
    padding: 0 2px !important;
}
.child_faq {
    padding: 0 0 0 2px !important;
}
#faq_detail #default {
margin-left: 0;
    padding: 30px 15px 5px !important;
    width: 100%;
}
}
@media (min-width: 990px) and (max-width: 1200px) {
.block_faq {min-height: 340px!important;}	
}
@media (max-width: 570px) {
	.block_faq{
	width: 100%!important;
	min-height: 280px!important;
	height: auto!important
	}
	.block_faq.block_new {
    height: auto!important;
    margin: 10px 0!important;
    min-height: 100%!important;

}
}
